.App {
    font-family:Avenir, "Century Gothic", sans-serif;
    font-weight:100; 
    font-style:normal;
    font-size: calc(10px + 1vmin);
    color: black;
    justify-content: center;
    /* padding:20px; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

  }

  .navbar {
    top: 0;
    left: 0;
    width: 100vw;
    background-color: #646cff;

    display: flex;
    justify-content: space-between;
    align-items: center;

    text-align: center;

    font-size: 25px
  }

  .navlinks {
    display: flex;
    align-items: center;
    gap: 10px;
    list-style-type: none;
    /* padding-right: 20px;     */
    padding-right: 50px;
    margin: 0;
  }

  .link {
    border: 1px solid transparent;
    border-color: #646cff ;
    transition: 0.25s;
    padding-left: 20px;
    padding-right: 20px;
  }

  .link:hover {
    border-color: #FFF764;
    color: #FFF764;
  }

.create-post {
    display: flex;
    align-items: center;
    gap: 10px;
    background-color: #FFF764;
    padding: 10px;
    border-radius: 5px;
    height: 15px;
    transition: 0.25s;

}

.create-post:hover {
    background-color: #d6d051;
}

.create-post:active {
    background-color: #fbf8cb;
}


  .header{
    width: 100%;
    color:black;
    text-align: center;
  }
  
  .headerBtn {
    margin-bottom: 50px;
    margin-right: 10px;
  }
  
  .ReadPosts {
    margin-top: 40px;
    display: flex;
    flex-direction: column;
  }


  
  button {
    border-radius: 8px;
    border: 1px solid transparent;
    padding: 0.6em 1.2em;
    font-size: 15px;
    font-weight: 500;
    font-family: inherit;
    background-color: #1a1a1a;
    color:white;
    cursor: pointer;
    transition: border-color 0.25s;
  }
  button:hover {
    border-color: #646cff;
  }


  .search-bar {
    width: 500px;
    margin-left: 200px;
    margin-top: 0;
    /* position: absolute;
    height: 30px;
    left: 35%; */


  }

  .site-title {
    padding-left: 50px;
  }




    /* Style The Dropdown Button */
.dropbtn {
    background-color: #8f94f8;
    color: black;
    padding: 16px;
    font-size: 16px;
    font-weight: 1000;
    border: none;
    cursor: pointer;
  }


  
  .dropdown {
    position: relative;
    display: inline-block;
    
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    border-radius: 5px;
    z-index: 1;
    
  }
  
  .dropdown-content .dropdown-option {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content .dropdown-option:hover {background-color: #f1f1f1; cursor: pointer;}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #646cff;
  }

  .dropdown-container {
    margin-bottom: 30px;
  }

  .dropdown-option {
    height: 100%;
  }